{% extends 'template_base.html' %}

{% block contenue %}

<div class="container mt-4">
    <h1 class="text-center mb-4 text-white">Liste des fonction </h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'fonction:creer' %}" class="btn btn-primary">
            <i class="bi bi-person-plus"></i> Créer une fonction
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Designation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white" >
                {% for fonction  in fonction  %}
                <tr>
                    <td>{{ fonction.id }}</td>
                    <td>{{ fonction.designation }}</td>
                    <td class="">
                        <a href="{% url 'fonction:information' fonction.id %}" class="btn btn-info btn-sm mb-1  ">
                            <i class="bi bi-eye"></i> Détails
                        </a>
                        <a href="{% url 'fonction:modifier' fonction.id %}" class="btn btn-warning btn-sm mb-1 ">
                            <i class="bi bi-pencil"></i> Modifier
                        </a>
                        <a href="{% url 'fonction:supprimer' fonction.id %}" class="btn btn-danger btn-sm mb-1 ">
                            <i class="bi bi-trash"></i> Supprimer
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">Aucune fonction  trouvée.</td> <!-- Ajustement du colspan -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
