{% extends 'template_base.html' %}
{% block contenue %}

<div class="container mt-4">
    <h1 class="text-center  text-white">Liste des Congés</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'conge:ajouter_conge' %}" class="btn btn-primary">Demander un Congé</a>
                    <!-- Formulaire de recherche pour un congé -->
            <!-- Formulaire de recherche pour un congé -->
            <form method="GET" action="{% url 'conge:recherche' %}" class="d-flex">
                <!-- Champ pour sélectionner le critère de recherche -->
                <select name="criteres" class="form-select me-2" aria-label="Critère de recherche">
                    <option value="employe">Employé</option>
                    <option value="date_debut">Date de début</option>
                    <option value="date_fin">Date de fin</option>
                </select>

                <!-- Champ pour la valeur de recherche -->
                <input type="text" name="query" class="form-control me-2" placeholder="Saisir la valeur" aria-label="Recherche" value="{{ query }}">

                <!-- Bouton de recherche -->
                <button type="submit" class="btn btn-secondary">
                    <i class="bi bi-search"></i> Rechercher
                </button>
            </form>

    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for conge in conges %}
                <tr>
                    <td>{{ conge.id }}</td>
                    <td>{{ conge.employe.last_name }}</td>
                    <td>{{ conge.employe.first_name }}</td>
                    <td>{{ conge.date_debut }}</td>
                    <td>{{ conge.date_fin }}</td>
                    <td>{{ conge.statut }}</td>
                    <td class="">
                        <a href="{% url 'conge:modifier_conge' conge.id %}" class="btn btn-warning btn-sm mb-1">Modifier</a>
                     </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-muted">Aucun congé trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
