{% extends 'template_base.html' %}

{% block contenue %}

    <h1>Rapport d'impression</h1>

    {% if stagiaires %}
        <h2>Liste des stagiaires</h2>
        <ul>
            {% for stagiaire in stagiaires %}
                <li>{{ stagiaire.nom }} {{ stagiaire.prenom }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if active_employees %}
        <h2>Employés actifs</h2>
        <ul>
            {% for employee in active_employees %}
                <li>{{ employee.nom }} {{ employee.prenom }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if on_leave_employees %}
        <h2>Employés en congé</h2>
        <ul>
            {% for employee in on_leave_employees %}
                <li>{{ employee.nom }} {{ employee.prenom }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if retiring_employees %}
        <h2>Employés partant à la retraite cette année</h2>
        <ul>
            {% for employee in retiring_employees %}
                <li>{{ employee.nom }} {{ employee.prenom }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
{% endblock %}